<header>
  <a href="{{ get_url(path='/') | safe }}">
    <img
      src="{{ get_url(path='img/logo.png') | safe }}"
      class="site-logo"
      alt="Logo"
      width="275px"
      height="100px"
  /></a>

  <p>{{ config.description }}</p>

  <p class="view">
    <a href="https://github.com/semanticdata/project"
      >View the project on GitHub. <small>semanticdata/zola-minimal</small></a
    >
  </p>

  <!-- <p class="view" -->
  <!--   ><a href="https://github.com/semanticdata/" -->
  <!--     >View my profile on GitHub. <small>semanticdata</small></a -->
  <!--   ></p -->
  <!-- > -->
</header>
